@charset "utf-8";
/* CSS Document */

*{overflow:hidden /*取消滚动条*/}

video{  /*定义视频宽高  视频处于背景状态*/
	width:auto;
	height:auto;
	position:fixed;
	right:0;
	bottom:0;
	z-index:-100;
}
.videozz{  /*用来解决视频右键菜单，用于视频上面的遮罩层*/
	width:9999px;
	height:1920px;
	z-index:-99;
	background: rgba(24,38,41, 0.7);
}

.box{
position:fixed; /*绝对定位*/
width:1290;/*1920*/
height:1080px; 
margin:0 auto 0 auto;
top:0px;
background: rgba(24,38,41, 0.1);
background:url(../images/bj.png);
padding:20px;
}
.box-a{
width:1920px;
height:1080px;
position:relative;/*相对定位 参照物*/
}
.box-a .m-1{
width:500px;
height:298px;
position:absolute;/*绝对定位*/top:0px;left:0px;
border: 2px solid #015c79;
/*background: rgba(1,92,121, 0.5);*/
background:url(../images/a-bj-1.jpg)repeat fixed center;
filter:alpha(opacity=50);  /*支持 IE 浏览器*/
-moz-opacity:0.50; /*支持 FireFox 浏览器*/
opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
z-index:1;
}
.box-a .m-2{
width:500px;
height:500px;
position:absolute;/*绝对定位*/top:200px;left:600px;
background: no-repeat url("../images/gif-6-1.png") left top;
border: 2px solid #;
background-color:;
z-index:2;
}

.box-a .m-zyp2{
width:700px;
height:500px;
position:absolute;/*绝对定位*/top:200px;left:600px;
border: 2px solid #;
background-color:;
z-index:2;
}




.box-a .m-3{
overflow:hidden;
width:18px;height:270px;
padding:8px;
position:absolute;/*绝对定位*/top:10px;left:500px;
}

.box-a .m-3 #m-3-id-1 p{height:20px;line-height: 14px;margin:0;font:24px/18px 'bankgothic_md_btmedium';color:#0caff4;text-align:center;}

.box-a .m-4{
width:500px;
height:300px;
background:url(../images/gif-1.gif);
position:absolute;/*绝对定位*/top:0px;left:2px;
z-index:4;
filter:alpha(opacity=70);  /*支持 IE 浏览器*/
-moz-opacity:0.70; /*支持 FireFox 浏览器*/
opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
}

.box-a .m-5{
width:300px;
height:100px;
background:url(../images/a-bj-.png);
position:absolute;/*绝对定位*/top:300px;left:0px;
z-index:5;
margin-top:20px;
}

.box-a .m-zyp5{
width:300px;
height:100px;
position:absolute;/*绝对定位*/top:300px;left:0px;
z-index:5;
margin-top:20px;
}


#m-5-id-1{
overflow:hidden; 
width:290px;
height:100px;
margin:0 auto;
z-index:6;
filter:alpha(opacity=70);  /*支持 IE 浏览器*/
-moz-opacity:0.70; /*支持 FireFox 浏览器*/
opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
 #m-5-2 { 
float: left; 
width: 800%; 
}
#m-5-id-2 {float: left; }
#m-5-id-3 {float: left; }


.box-a .m-6{
width:auto;
height:120px;
position:absolute;/*绝对定位*/top:-50px;right:60px;
z-index:7;
font:50px/38px '楷体';
}



@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .masked{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #0e84ff 25%, #0ee5ff 50%, #0e84ff 75%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 0.8s infinite linear;
    }
	.masked1{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 3s infinite linear;
    }
	.masked2{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 3s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}



 @-moz-keyframes rotate{
            100%{
              -moz-transform:rotate(0deg);
             }
             100%{
               -moz-transform:rotate(360deg);
             }
          }
 @-webkit-keyframes rotate{
            100%{
              -webkit-transform:rotate(0deg);
             }
             100%{
               -webkit-transform:rotate(360deg);
             }
          }
 @keyframes rotate{
            100%{
              transform:rotate(0deg);
             }
             100%{
               transform:rotate(360deg);
             }
          }

.xzright{
	-webkit-transform: rotateZ(-360deg);
	-moz-transform: rotateZ(-360deg);
	-o-transform: rotateZ(-360deg);
	-ms-transform: rotateZ(-360deg);
	transform: rotateZ(-360deg);	
}
.xzleft{
	-webkit-transform: rotateZ(720deg);
	-moz-transform: rotateZ(720deg);
	-o-transform: rotateZ(720deg);
	-ms-transform: rotateZ(720deg);
	transform: rotateZ(720deg);
}
.box-a .m-xz7 {
	width: 100px;
	height: 100px;
	position:absolute;/*绝对定位*/top:10px;left:10px;
	z-index:8;
	background: no-repeat url("../images/gif-3.png") left top;
	-webkit-background-size: 100px 50px;
	-moz-background-size: 100px 50px;
	background-size: 100px 100px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-transition:all .10s;
    -webkit-transition:all .10s;
    transition:all .10s;
	-moz-animation:rotate 10s infinite linear;
    -webkit-animation:rotate 10s infinite linear;
    animation:rotate 10s infinite linear;
	
	-webkit-transform: rotateZ(-360deg);
	-moz-transform: rotateZ(-360deg);
	-o-transform: rotateZ(-360deg);
	-ms-transform: rotateZ(-360deg);
	transform: rotateZ(-360deg);
}

		  
.box-a .m-xz8 {
	width: 150px;
	height: 150px;
	position:absolute;/*绝对定位*/top:320px;left:350px;
	z-index:8;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-4.png") left top;
	-webkit-background-size: 150px 75px;
	-moz-background-size: 150px 75px;
	background-size: 150px 150px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	-moz-transition:all .20s;
    -webkit-transition:all .20s;
    transition:all .20s;
	-moz-animation:rotate 20s infinite linear;
    -webkit-animation:rotate 20s infinite linear;
    animation:rotate 20s infinite linear;

}

.box-a .m-xz9 {
	width: 150px;
	height: 150px;
	position:absolute;/*绝对定位*/top:320px;left:350px;
	z-index:8;
	filter:alpha(opacity=70);  /*支持 IE 浏览器*/
	-moz-opacity:0.70; /*支持 FireFox 浏览器*/
	opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-5.png") left top;
	-webkit-background-size: 150px 75px;
	-moz-background-size: 150px 75px;
	background-size: 150px 150px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	-moz-transition:all .6s;
    -webkit-transition:all .6s;
    transition:all .6s;
	-moz-animation:rotate 6s infinite linear;
    -webkit-animation:rotate 6s infinite linear;
    animation:rotate 6s infinite linear;
}

.box-a .m-x10 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:9;
	filter:alpha(opacity=40);  /*支持 IE 浏览器*/
	-moz-opacity:0.40; /*支持 FireFox 浏览器*/
	opacity:0.40;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-2.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}

.box-a .m-x11 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:10;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-3.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.box-a .m-x12 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:11;
	filter:alpha(opacity=40);  /*支持 IE 浏览器*/
	-moz-opacity:0.40; /*支持 FireFox 浏览器*/
	opacity:0.40;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-4.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.box-a .m-x13 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:12;
	filter:alpha(opacity=40);  /*支持 IE 浏览器*/
	-moz-opacity:0.40; /*支持 FireFox 浏览器*/
	opacity:0.40;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-5.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .2s;
    -webkit-transition:all .2s;
    transition:all .2s;
	-moz-animation:rotate 2s infinite linear;
    -webkit-animation:rotate 2s infinite linear;
    animation:rotate 2s infinite linear;
}
.box-a .m-x14 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:13;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-6.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .3s;
    -webkit-transition:all .3s;
    transition:all .3s;
	-moz-animation:rotate 3s infinite linear;
    -webkit-animation:rotate 3s infinite linear;
    animation:rotate 3s infinite linear;
}
.box-a .m-x15 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:14;
	filter:alpha(opacity=80);  /*支持 IE 浏览器*/
	-moz-opacity:0.80; /*支持 FireFox 浏览器*/
	opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-7.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .0.6s;
    -webkit-transition:all .0.6s;
    transition:all .0.6s;
	-moz-animation:rotate 0.6s infinite linear;
    -webkit-animation:rotate 0.6s infinite linear;
    animation:rotate 0.6s infinite linear;
}
.box-a .m-x16 {
	width: 500px;
	height: 500px;
	position:absolute;/*绝对定位*/top:200px;left:600px;
	z-index:15;
	filter:alpha(opacity=70);  /*支持 IE 浏览器*/
	-moz-opacity:0.70; /*支持 FireFox 浏览器*/
	opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-8.png") left top;
	-webkit-background-size: 500px 250px;
	-moz-background-size: 500px 250px;
	background-size: 500px 500px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}
.box-a .m-x17 {
	width: 50px;
	height: 50px;
	position:absolute;/*绝对定位*/top:230px;left:613px;
	z-index:15;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-9.png") left top;
	-webkit-background-size: 50px 25px;
	-moz-background-size: 50px 25px;
	background-size: 50px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.box-a .m-x18 {
	width: 50px;
	height: 50px;
	position:absolute;/*绝对定位*/top:230px;left:1036px;
	z-index:15;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-9.png") left top;
	-webkit-background-size: 50px 25px;
	-moz-background-size: 50px 25px;
	background-size: 50px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.box-a .m-x19 {
	width: 50px;
	height: 50px;
	position:absolute;/*绝对定位*/top:620px;left:613px;
	z-index:15;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-9.png") left top;
	-webkit-background-size: 50px 25px;
	-moz-background-size: 50px 25px;
	background-size: 50px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.box-a .m-x20 {
	width: 50px;
	height: 50px;
	position:absolute;/*绝对定位*/top:620px;left:1035px;
	z-index:15;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-6-9.png") left top;
	-webkit-background-size: 50px 25px;
	-moz-background-size: 50px 25px;
	background-size: 50px 50px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}

.box-a .m-7{
width:250px;
height:250px;
position:absolute;/*绝对定位*/top:200px;right:550px;
background-color:;
z-index:7;
}
.m-7-k{
width:250px;
height:250px;
position:fixed; /*绝对定位*/
}
.m-7-k .m-7xz1{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:8;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-7-1.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .2s;
    -webkit-transition:all .2s;
    transition:all .2s;
	-moz-animation:rotate 2s infinite linear;
    -webkit-animation:rotate 2s infinite linear;
    animation:rotate 2s infinite linear;
}
.m-7-k .m-7xz2{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:9;
	filter:alpha(opacity=70);  /*支持 IE 浏览器*/
	-moz-opacity:0.70; /*支持 FireFox 浏览器*/
	opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-7-2.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .3s;
    -webkit-transition:all .3s;
    transition:all .3s;
	-moz-animation:rotate 3s infinite linear;
    -webkit-animation:rotate 3s infinite linear;
    animation:rotate 3s infinite linear;
}
.m-7-k .m-7xz3{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:10;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-7-3.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .0.5s;
    -webkit-transition:all .0.5s;
    transition:all .0.5s;
	-moz-animation:rotate 0.5s infinite linear;
    -webkit-animation:rotate 0.5s infinite linear;
    animation:rotate 0.5s infinite linear;
}
.m-7-k .m-7zt1{
	width:180px;
	height:30px;
	border-bottom: 1px solid #;
	padding-bottom:3px;
	margin:80px auto 0 auto;
	color:#19a9da;
	font:20px/18px '楷体';
	text-align:center;
}
.m-7-k .m-7zt2{
	width:250px;
	height:50px;
	margin-top:8px;
	color:#9C0;
	font:60px/50px 'ds-digitalbold';
	text-align:center;
}

.box-a .fbl{
	width:auto;
	height:200px;
	position:absolute;/*绝对定位*/top:20px;right:100px;
	color:#19a9da;
	font:20px/18px 'bankgothic_md_btmedium';
	z-index:20;
}
.box-a .m-8{
	width:709px;
	height:139px;
	position:absolute;/*绝对定位*/top:0px;left:600px;
	background: no-repeat url("../images/gif-8-1.png") left top;
	filter:alpha(opacity=30);  /*支持 IE 浏览器*/
	-moz-opacity:0.30; /*支持 FireFox 浏览器*/
	opacity:0.30;  /*支持 Chrome, Opera, Safari 等浏览器*/
	z-index:21;
}
.box-a .m-9{
	width:709px;
	height:139px;
	position:absolute;/*绝对定位*/top:0px;left:610px;
	font:130px/18px 'ds-digitalbold';
	z-index:22;
	color:#f4ab20;
	text-align:center;
	line-height:139px;
	letter-spacing:20px;
}

.box-a .m-10{
width:490px;
height:100px;
background:url(../images/gif-9.png);
position:absolute;/*绝对定位*/top:450px;left:0px;
z-index:5;
margin-top:20px;
}

.box-a .m-11{
width:418px;
height:476px;
background:url(../images/gif-10.png);
position:absolute;/*绝对定位*/bottom:60px;right:60px;
z-index:5;
margin-top:20px;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
}

.box-a .m-11 .m-k-1{width:58px;height:34px;position:absolute;/*绝对定位*/top:19px;right:38px;z-index:6;}
.box-a .m-11 .m-k-1 .t1{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#37dad7; 
animation:myfirst 0.3s linear 0.5s infinite alternate;
/* Firefox: */
-moz-animation:myfirst 0.3s linear 0.5s infinite alternate;
/* Safari and Chrome: */
-webkit-animation:myfirst 0.3s linear 0.5s infinite alternate;
/* Opera: */
-o-animation:myfirst 0.3s linear 0.5s infinite alternate;
}

@keyframes myfirst
{
0%   {right:0px; top:0px;width:0px;height:34px;}
100% {right:0px; top:0px;width:100px;height:34px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {right:0px; top:0px;width:0px;height:34px;}
100% {right:0px; top:0px;width:58px;height:34px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {right:0px; top:0px;width:0px;height:34px;}
100% {right:0px; top:0px;width:100px;height:34px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {right:0px; top:0px;width:0px;height:34px;}
100% {right:0px; top:0px;width:58px;height:34px;}
}
.box-a .m-11 .m-k-2{width:58px;height:34px;position:absolute;/*绝对定位*/top:66px;right:38px;z-index:6;}
.box-a .m-11 .m-k-2 .t2{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#8cd6b7; 
animation:myfirst 0.18s linear 0.18s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.18s linear 0.18s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.18s linear 0.18s infinite alternate;/* Opera: */
-o-animation:myfirst 0.18s linear 0.18s infinite alternate;
}
.box-a .m-11 .m-k-3{width:58px;height:34px;position:absolute;/*绝对定位*/top:113px;right:38px;z-index:6;}
.box-a .m-11 .m-k-3 .t3{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#6ccea5; 
animation:myfirst 0.2s linear 0.2s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.2s linear 0.2s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.2s linear 0.2s infinite alternate;/* Opera: */
-o-animation:myfirst 0.2s linear 0.2s infinite alternate;
}
.box-a .m-11 .m-k-4{width:58px;height:34px;position:absolute;/*绝对定位*/top:161px;right:38px;z-index:6;}
.box-a .m-11 .m-k-4 .t4{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#abd281; 
animation:myfirst 0.15s linear 0.15s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.15s linear 0.15s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.15s linear 0.15s infinite alternate;/* Opera: */
-o-animation:myfirst 0.15s linear 0.15s infinite alternate;
}
.box-a .m-11 .m-k-5{width:58px;height:34px;position:absolute;/*绝对定位*/top:207px;right:38px;z-index:6;}
.box-a .m-11 .m-k-5 .t5{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#a0b653; 
animation:myfirst 0.2s linear 0.2s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.2s linear 0.2s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.2s linear 0.2s infinite alternate;/* Opera: */
-o-animation:myfirst 0.2s linear 0.2s infinite alternate;
}
.box-a .m-11 .m-k-6{width:58px;height:34px;position:absolute;/*绝对定位*/top:254px;right:38px;z-index:6;}
.box-a .m-11 .m-k-6 .t6{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#d3b342; 
animation:myfirst 0.08s linear 0.08s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.08s linear 0.08s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.08s linear 0.08s infinite alternate;/* Opera: */
-o-animation:myfirst 0.08s linear 0.08s infinite alternate;
}
.box-a .m-11 .m-k-7{width:58px;height:34px;position:absolute;/*绝对定位*/top:301px;right:38px;z-index:6;}
.box-a .m-11 .m-k-7 .t7{
width:0px;
height:34px;
float:right;
background:red;
position:relative;
background:#f4ae28; 
animation:myfirst 0.4s linear 0.4s infinite alternate;/* Firefox: */
-moz-animation:myfirst 0.4s linear 0.4s infinite alternate;/* Safari and Chrome: */
-webkit-animation:myfirst 0.4s linear 0.4s infinite alternate;/* Opera: */
-o-animation:myfirst 0.4s linear 0.4s infinite alternate;
}

.box-a .m-12{
width:250px;
height:250px;
position:absolute;/*绝对定位*/top:450px;right:550px;
background-color:;
z-index:7;
}
.m-12-k{
width:250px;
height:250px;
position:fixed; /*绝对定位*/
}
.m-12-k .m-12xz1{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:9;
	filter:alpha(opacity=80);  /*支持 IE 浏览器*/
	-moz-opacity:0.80; /*支持 FireFox 浏览器*/
	opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-11-1.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .0.6s;
    -webkit-transition:all .0.6s;
    transition:all .0.6s;
	-moz-animation:rotate 0.6s infinite linear;
    -webkit-animation:rotate 0.3s infinite linear;
    animation:rotate 0.6s infinite linear;
}
.m-12-k .m-12xz2{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:8;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-11-2.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .2s;
    -webkit-transition:all .2s;
    transition:all .2s;
	-moz-animation:rotate 2s infinite linear;
    -webkit-animation:rotate 2s infinite linear;
    animation:rotate 2s infinite linear;
}
.m-12-k .m-12xz3{
	width:250px;
	height:250px;
	position:absolute;/*绝对定位*/top:0px;left:0px;
	z-index:9;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-11-3.png") left top;
	-webkit-background-size: 250px 125px;
	-moz-background-size: 250px 125px;
	background-size: 250px 250px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	-moz-transition:all .0.1s;
    -webkit-transition:all .0.1s;
    transition:all .0.1s;
	-moz-animation:rotate 0.1s infinite linear;
    -webkit-animation:rotate 0.1s infinite linear;
    animation:rotate 0.1s infinite linear;
}
.m-12-k .m-12zt1{
	width:180px;
	height:30px;
	border-bottom: 1px solid #;
	padding-bottom:3px;
	margin:80px auto 0 auto;
	color:#19a9da;
	font:20px/18px '楷体';
	text-align:center;
}
.m-12-k .m-12zt2{
	width:250px;
	height:50px;
	margin-top:8px;
	color:#9C0;
	font:60px/50px 'ds-digitalbold';
	text-align:center;
}

.box-a .m-13{
width:400px;
height:400px;
overflow:hidden;
background:url(../images/gif-101.png);
position:absolute;/*绝对定位*/top:120px;right:70px;
background-color:;
font:18px/15px 'bankgothic_md_btmedium';
color:#39F;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
}


.box-a .m-14{
width:106px;
height:35px;
overflow:hidden;
border-radius:20px;
background:url(../images/gif-101.png);
position:absolute;/*绝对定位*/top:515px;left:363px;
	filter:alpha(opacity=80);  /*支持 IE 浏览器*/
	-moz-opacity:0.80; /*支持 FireFox 浏览器*/
	opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
.box-a .m-14 .ss{
width:0px;
height:35px;
position:relative;
background-color:#F60; 
animation:myfirst 1s linear 1s infinite alternate;
/* Firefox: */
-moz-animation:myfirst 1s linear 1s infinite alternate;
/* Safari and Chrome: */
-webkit-animation:myfirst 1s linear 1s infinite alternate;
/* Opera: */
-o-animation:myfirst 1s linear 1s infinite alternate;
}

@keyframes myfirst
{
0%   {right:0px; top:0px;width:0px;height:35px;}
100% {background-color:#FC0; right:0px; top:0px;width:180px;height:35px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {right:0px; top:0px;width:0px;height:35px;}
100% {right:0px; top:0px;width:150px;height:35px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {right:0px; top:0px;width:0px;height:35px;}
100% {right:0px; top:0px;width:150px;height:35px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {right:0px; top:0px;width:0px;height:35px;}
100% {right:0px; top:0px;width:150px;height:35px;}
}


.box-a .m-15-a{
width:500px;
height:415px;
overflow:hidden;
background:url(../images/gif-12-1.png);
position:absolute;/*绝对定位*/top:590px;left:0px;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background-color:;
}
.box-a .m-15-b{
width:500px;
height:415px;
overflow:hidden;
background:url(../images/gif-12-2.png);
position:absolute;/*绝对定位*/top:590px;left:0px;
	filter:alpha(opacity=40);  /*支持 IE 浏览器*/
	-moz-opacity:0.40; /*支持 FireFox 浏览器*/
	opacity:0.40;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background-color:;
}

.m-15-k{
width:500px;
height:415px;
position:fixed; /*绝对定位*/
}
.m-15-k .m-15xz1{
width:150px;
height:150px;
position:absolute;/*绝对定位*/top:210px;left:325px;
}
.m-15-dd1{
width: 100px;height: 100px;border-radius: 360px;background-color: #FFF;
        position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
        -webkit-animation: pointRadius 1s ease 0s infinite;
                animation: pointRadius 1s ease 0s infinite;
    }
    @-webkit-keyframes pointRadius {
        0% {width: 10px;height: 10px;background: rgba(169,191,116, 0.8);}
        100% {width: 150px;height: 150px;background: rgba(62,219,200, 0.0);}
    }
.m-15-dd2{
width: 100px;height: 100px;border-radius: 360px;background-color: #FFF;
        position: absolute;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
        -webkit-animation: pointRadius 1s ease 0s infinite;
                animation: pointRadius 1s ease 0s infinite;
    }
    @-webkit-keyframes pointRadius {
		0% {width: 10px;height: 10px;background: rgba(196,149,169, 0.8);}
		25% {width: 150px;height: 150px;background: rgba(214,5,0, 0.6);}
        75% {width: 160px;height: 160px;background: rgba(214,5,0, 0.0);}
		90% {width: 100px;height: 100px;background: rgba(214,5,0, 0.6);}
		100% {width: 10px;height: 10px;background: rgba(196,149,169, 0.8);}
    }


.box-a .m-16{
	width:350px;
	height:350px;
	z-index:30;
	background: no-repeat url("../images/gif-13-1.png") left top;
	position:absolute;/*绝对定位*/bottom:88px;right:196px;
}

.box-a .m-zyp16{
	width:350px;
	height:350px;
	z-index:30;
	
	position:absolute;/*绝对定位*/bottom:88px;right:196px;
}



.box-a .m-17{
	width:350px;
	height:350px;
	z-index:21;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-2.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .0.6s;
    -webkit-transition:all .0.6s;
    transition:all .0.6s;
	-moz-animation:rotate 0.6s infinite linear;
    -webkit-animation:rotate 0.6s infinite linear;
    animation:rotate 0.6s infinite linear;
}
.box-a .m-18{
	width:350px;
	height:350px;
	z-index:25;
	background: no-repeat url("../images/gif-13-3.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .15s;
    -webkit-transition:all .15s;
    transition:all .15s;
	-moz-animation:rotate 15s infinite linear;
    -webkit-animation:rotate 15s infinite linear;
    animation:rotate 15s infinite linear;
}
.box-a .m-19{
	width:350px;
	height:350px;
	z-index:22;
	filter:alpha(opacity=70);  /*支持 IE 浏览器*/
	-moz-opacity:0.70; /*支持 FireFox 浏览器*/
	opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-4.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .2s;
    -webkit-transition:all .2s;
    transition:all .2s;
	-moz-animation:rotate 2s infinite linear;
    -webkit-animation:rotate 2s infinite linear;
    animation:rotate 2s infinite linear;
}
.box-a .m-20{
	width:350px;
	height:350px;
	z-index:21;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-5.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .0.8s;
    -webkit-transition:all .0.8s;
    transition:all .0.8s;
	-moz-animation:rotate 0.8s infinite linear;
    -webkit-animation:rotate 0.8s infinite linear;
    animation:rotate 0.8s infinite linear;
}
.box-a .m-21{
	width:350px;
	height:350px;
	z-index:21;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-6.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .0.3s;
    -webkit-transition:all .0.3s;
    transition:all .0.3s;
	-moz-animation:rotate 0.3s infinite linear;
    -webkit-animation:rotate 0.3s infinite linear;
    animation:rotate 0.3s infinite linear;
}
.box-a .m-22{
	width:350px;
	height:350px;
	z-index:21;
	filter:alpha(opacity=80);  /*支持 IE 浏览器*/
	-moz-opacity:0.80; /*支持 FireFox 浏览器*/
	opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-7.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .25s;
    -webkit-transition:all .25s;
    transition:all .25s;
	-moz-animation:rotate 25s infinite linear;
    -webkit-animation:rotate 25s infinite linear;
    animation:rotate 25s infinite linear;
}
.box-a .m-23{
	width:350px;
	height:350px;
	z-index:21;
	filter:alpha(opacity=80);  /*支持 IE 浏览器*/
	-moz-opacity:0.80; /*支持 FireFox 浏览器*/
	opacity:0.80;  /*支持 Chrome, Opera, Safari 等浏览器*/
	background: no-repeat url("../images/gif-13-8.png") left top;
	position:absolute;/*绝对定位*/bottom:90px;right:190px;
	-webkit-background-size: 350px 175px;
	-moz-background-size: 350px 175px;
	background-size: 350px 350px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
	-moz-transition:all .0.3s;
    -webkit-transition:all .0.3s;
    transition:all .0.3s;
	-moz-animation:rotate 0.3s infinite linear;
    -webkit-animation:rotate 0.3s infinite linear;
    animation:rotate 0.3s infinite linear;
}

.box-a .m-24{
	width:auto;
	height:50px;
	z-index:40;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	position:absolute;/*绝对定位*/top:540px;left:35px;
	text-shadow:#9C0 0px 1px 2px;
	font:30px/28px 'ds-digitalbold';
	color:#3CF;
}

.box-a .m-25{
	width:180px;
	height:180px;
	z-index:40;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	position:absolute;/*绝对定位*/top:740px;left:550px; 
}
.m-25k{
	width:180px;
	height:180px;
	position:absolute;/*绝对定位*/
}
.m-25zt1{
	width:180px;
	height:30px;
	border-bottom: 1px solid #;
	padding-bottom:3px;
	margin:55px auto 0 auto;
	color:#19a9da;
	font:20px/18px '楷体';
	text-align:center;
}
.m-25zt2{
	width:180px;
	height:50px;
	margin-top:8px;
	color:#9C0;
	font:40px/30px 'ds-digitalbold';
	text-align:center;
}
.m-25k .m-25xz1{
	width:180px;
	height:180px;
	z-index:41;
	position:absolute;/*绝对定位*/bottom:0px;right:0px;
	-webkit-background-size: 180px 90px;
	-moz-background-size: 180px 90px;
	background-size: 180px 180px;
	-webkit-border-radius: 90px;
	border-radius: 90px;
}

.box-a .m-26{
	width:180px;
	height:180px;
	z-index:40;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	position:absolute;/*绝对定位*/top:740px;left:750px; 
}
.box-a .m-27{
	width:180px;
	height:180px;
	z-index:40;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	position:absolute;/*绝对定位*/top:740px;left:950px; 
}
.box-a .m-28{
	width:180px;
	height:180px;
	z-index:40;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
	position:absolute;/*绝对定位*/top:740px;left:1150px; 
}

.m-25pic1{
	background: no-repeat url("../images/gif-14-1.png") left top;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}
.m-25pic2{
	background: no-repeat url("../images/gif-14-2.png") left top;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}

.m-25pic3{
	background: no-repeat url("../images/gif-14-3.png") left top;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}
.m-25pic4{
	background: no-repeat url("../images/gif-14-4.png") left top;
	-moz-transition:all .1s;
    -webkit-transition:all .1s;
    transition:all .1s;
	-moz-animation:rotate 1s infinite linear;
    -webkit-animation:rotate 1s infinite linear;
    animation:rotate 1s infinite linear;
}

.box-a .m-29{
height:40px;
position:absolute;/*绝对定位*/bottom:90px;left:570px;
z-index:7;
font:25px/20px 'bankgothic_md_btmedium';
line-height:40px;
}

.box-a .m-30{
height:40px;
filter:alpha(opacity=50);  /*支持 IE 浏览器*/
-moz-opacity:0.50; /*支持 FireFox 浏览器*/
opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
position:absolute;/*绝对定位*/bottom:60px;left:570px;
z-index:6;
font:20px/18px 'bankgothic_md_btmedium';
color:#0CF;
line-height:40px;
}